# Server Configuration
HOST=0.0.0.0
PORT=8080
NODE_ENV=local

CXS_BASE_URL=http://wiremock:8080
OAUTH_TOKEN_ENDPOINT=/v1/channels/oauth/token
TOKEN_EXPIRY=3600
TOKEN_TYPE=Bearer

#GCP
SECRET_PREFIX=mock-prefix
SECRET_SUFFIX=mock-suffix
PROJECT_ID=mock-project-id

#OTEL
GROUP_NAME=ISG
CORE_NAME=INTEGRATION
ENABLE_TRACING=false
ENABLE_AUTO_INSTRUMENTATION=true
SERVICE_NAME=ocsp
OTEL_EXPORTER_URL=http://localhost:4318/v1/traces
OTEL_INSECURE=true
OTEL_LOG_LEVEL=error
